# Project Laliga
    by Anish Babu Kuppuswamy

In [197]:
import numpy as np
import pandas as pd

## Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [198]:
LaLigaSet = pd.read_csv('Laliga.csv')
LaLigaSet.replace('-', 0, inplace=True)
headers = LaLigaSet.iloc[0]
LaLiga = pd.DataFrame(LaLigaSet.values[1:], columns=headers)
LaLiga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

## Print all the teams which have started playing between 1930-1980.

In [199]:
# LaLiga.Debut[3][0:4]
LaLigaBtwn = pd.DataFrame(LaLiga.loc[(LaLiga.Debut >= '1930') & (LaLiga.Debut <= '1980')])
LaLigaBtwn[['Team','Debut']]

0                  Team    Debut
3              Valencia  1931-32
5               Sevilla  1934-35
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
34            Castellon  1941-42
37              Cordoba  1962-63
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
46            Gimnastic  1947-48
49             Alcoyano  1945-46
50                 Jaen  1953-54
52           AD Almeria  1979-80
54               Lleida  1950-51
57               Condal  1956-57
58      Atletico Tetuan  1951-52
59     Cultural Leonesa  1955-56

## Print the list of teams which came Top 5 in terms of points

In [200]:
# LaLigaBtwn.sort_values(by='Points', axis=0)
LaLigaP = LaLiga.astype({'Points': int, 'GoalsFor': int, 'GoalsAgainst': int, 'GamesWon': int, 'GamesPlayed': int, 'BestPosition': int})
LaLigaP.sort_values('Points', ascending=False, inplace=True)
LaLigaP[['Team', 'Points']].head()

0             Team  Points
0      Real Madrid    4385
1        Barcelona    4262
2  Atletico Madrid    3442
3         Valencia    3386
4  Athletic Bilbao    3368

## Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

In [201]:
def Goal_diff_count():
    LaLigaP['Goal_Differences'] = (LaLigaP['GoalsFor'] - LaLigaP['GoalsAgainst'])
    print('{} \n'.format(LaLigaP[['Team', 'Goal_Differences']]))
    
    if (LaLigaP.Goal_Differences.max() > np.absolute(LaLigaP.Goal_Differences.min())):
        print('Maximum Goal Difference is: {}'.format(LaLigaP['Goal_Differences'].max()))
        print('{} \n\n'.format(LaLigaP[LaLigaP.Goal_Differences == LaLigaP['Goal_Differences'].max()].Team))
    else:
        print('Maximum Goal Difference is: {} \n'.format(np.absolute(LaLigaP.Goal_Differences.min())))
        print('{}\n\n'.format(LaLigaP[LaLigaP.Goal_Differences == LaLigaP['Goal_Differences'].min()].Team))

    print('Minimum Goal Difference is: {}'.format(np.absolute(LaLigaP.Goal_Differences).min()))
    print('{}\n\n'.format(LaLigaP.loc[(LaLigaP.Goal_Differences == np.absolute(LaLigaP.Goal_Differences).min()) | (LaLigaP.Goal_Differences == -np.absolute(LaLigaP.Goal_Differences).min())].Team))


Goal_diff_count()

# Note: Assuming Max goal difference could be either positive or negative. 
# and min goal difference is closest to zero or zero

0                  Team  Goal_Differences
0           Real Madrid              2807
1             Barcelona              2786
2       Atletico Madrid              1225
3              Valencia               929
4       Athletic Bilbao               931
5               Sevilla               307
6              Espanyol              -280
7         Real Sociedad                -2
8              Zaragoza              -164
9            Real Betis              -333
10  Deportivo La Coruna              -136
11           Celta Vigo              -346
12           Valladolid              -413
13     Racing Santander              -525
14       Sporting Gijon              -399
15              Osasuna              -334
16               Malaga              -342
17               Oviedo              -309
18             Mallorca              -189
19           Las Palmas              -399
20           Villarreal               103
21              Granada              -338
22       Rayo Vallecano              -328
23                Elche              -272
24               Getafe              -113
25             Hercules              -334
26             Tenerife              -125
27               Murcia              -385
28               Alaves              -165
29              Levante              -202
..                  ...               ...
31             Sabadell              -228
32                Cadiz              -269
33             Logrones              -198
34            Castellon              -169
35             Albacete               -90
36              Almeria              -122
37              Cordoba              -145
38           Compostela               -42
39           Recreativo               -94
40            Burgos CF               -94
41           Pontevedra               -56
42             Numancia               -98
43                Eibar               -28
44               Arenas               -81
45          Real Burgos               -38
46            Gimnastic              -114
47          Extremadura               -55
48               Merida               -45
49             Alcoyano              -107
50                 Jaen               -62
51           Real Union               -31
52           AD Almeria               -45
53               Europa               -34
54               Lleida              -112
55              Leganes               -19
56                Xerez               -28
57               Condal               -20
58      Atletico Tetuan               -34
59     Cultural Leonesa               -31
60               Girona                 0

[61 rows x 2 columns]

Maximum Goal Difference is: 2807
0    Real Madrid
Name: Team, dtype: object


Minimum Goal Difference is: 0
60    Girona
Name: Team, dtype: object

## Create a new column with name “Winning Percent” and append it to the data set

In [202]:
LaLigaP.head()
LaLigaP["Winning Percent"] =  (LaLigaP.GamesWon / LaLigaP.GamesPlayed)*100
LaLigaP.sort_values("Winning Percent", ascending=False, inplace=True)
LaLigaP[["Team","Winning Percent"]].head(5)

0             Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

## Group teams based on their “Best position” and print the sum of their points for all positions

In [203]:
LaLigaB = LaLiga.astype({"BestPosition": int, "Points": int})
LaLigaB.sort_values("BestPosition")
LaLigaB.groupby(by=["BestPosition"], as_index=False).agg({'Points':'sum'})

    BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34